---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout lang="fr-CA">
    <h1>Portfolio d'Alexandre Desroches</h1>
    <p>
        Bienvenue&nbsp;! Mon nom est Alexandre Desroches. Je suis un programmeur Javascript et un musicien.
    </p>
    <p>
        Sur ce site, je vous présente mes projets en programmation ainsi que mes réalisations musicales.
    </p>
    <p>
        J'offre des services de création de site internets, programmation de logiciels et applications web en tant que freelancer.
    </p>
</PageLayout>
