footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: var(--footer-height);
  border-top: 1px solid #efefef;
  padding: 0 1em;
  font-size: 0.85em;
  background: var(--background);
}


footer .branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .details {
  margin: 0;
}

footer .details a {
  color: var(--light-gray);
}

footer .details a:hover {
  text-decoration: underline;
  color: #000;
}

footer .copyright {
  font-size: 0.85em;
  color: #656565;
  margin: 0;
}

@media screen and (max-width: 1130px) {
  footer {
    padding-top: 1em;
    padding-bottom: 1em;
    height: min-content;
  }

  footer .details {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1em !important;
  }

  footer .branding {
    order: 2;
  }

  footer .copyright {
    order: 3;
  }

}

@media screen and (max-width: 450px) {
  footer {
    padding: 1em 6px 6px;
  }

  footer .details {
    padding: 0 .5em;
  }
}
