---
const year = new Date().getFullYear()
---
<footer>
  <div>© {year} Alexandre Desroches</div>
</footer>

<style>
  footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 1em;
    padding: 2em;
  }
</style>
