<header>
  <nav>
    <a href="/">Alexandre Desroches</a>
    <a href="/a-propos">À propos</a>
    <a href="/programmation">Programmation</a>
    <a href="/musique">Musique</a>
  </nav>
</header>

<style>
  header {
    padding: 2em;
    width: 100%;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
  }
</style>
