<header>
  <nav class="nav">
    <a href="/">Alexandre Desroches</a>
    <a href="/a-propos">À propos</a>
    <a href="/programmation">Programmation</a>
    <a href="/musique">Musique</a>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
