---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
const {title, lang} = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? title + " | Alexandre Desroches":"Alexandre Desroches"}</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    padding: 4em 1em;
    max-width: 100vw;
  }
</style>