footer {
  width: 100%;
  margin: 4rem 0 0 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .services-description {
  margin: 0;
}

footer .copyright {
  margin: 0 0 2.5rem 0;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
  white-space: break-spaces;
}
