:root {
  /*Main Theme Variables*/
  --main-background-color: var(--theme-light-background);
  --main-foreground-color: var(--theme-light-main-text-color);
  --main-border-color: var(--theme-light-border-color);
  --main-box-shadow-color: var(--theme-light-box-shadow-color);
  --main-text-link-color: var(--theme-light-text-link-color);
  --secondary-text-color: var(--theme-light-secondary-text-color);

  /*Light Mode*/
  --theme-light-background: #fff;
  --theme-light-main-text-color: #000;
  --theme-light-secondary-text-color: var(--light-gray);
  --theme-light-text-link-color: var(--blue);
  --theme-light-border-color: var(--extremely-light-gray);
  --theme-light-box-shadow-color: var(--light-gray);

  /*Dark Mode*/
  --theme-dark-background: #1f2028;
  --theme-dark-main-text-color: #fff;
  --theme-dark-secondary-text-color: #c0c0c0;
  --theme-dark-text-link-color: #fff;
  --theme-dark-border-color: var(--dark-gray);
  --theme-dark-box-shadow-color: #777;


  --dark-gray: #404040;
  --light-gray: #686868;
  --lighter-gray: #a0a0a0;
  --very-light-gray: #e5e5e5;
  --extremely-light-gray: #f0f0f0;
  --almost-white: #fbfbfb;
  --blue: #0d6efd;

  --max-content-width: 1280px;
  --max-text-width: 630px;

  --elements-padding: .5rem 1rem;
  --page-padding: 4rem;

  --button-radius: .25rem;
  --user-font-scale: 1rem -16px;
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-family: var(--ff-sans-serif);
  font-size: 1rem;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--main-background-color);
  color: var(--main-foreground-color);;
  user-select: none;
  padding: 0;
  margin: 0;
  min-width: 280px;
}

html.dark {
  --main-background-color: var(--theme-dark-background);
  --main-foreground-color: var(--theme-dark-main-text-color);
  --main-border-color: var(--theme-dark-border-color);
  --main-box-shadow-color: var(--theme-dark-box-shadow-color);
  --secondary-text-color: var(--theme-dark-secondary-text-color);
  --main-text-link-color: var(--theme-dark-text-link-color);
}

html.dark .handwritten-signature {
  filter: invert();
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  height: 100vh;
}

main.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  animation: fadein 1.2s;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.max-content-width {
  width: 100%;
  max-width: var(--max-content-width);
}

.max-text-width {
  width: 100%;
  max-width: var(--max-text-width);
  padding: var(--page-padding);
}

img {
  width: inherit;
  height: auto;
}

h2, a {
  font-family: var(--ff-monospace);
  letter-spacing: -1px;
}

h2 {
  font-size: 1.75rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 1rem;
  margin: 3.25rem 0 1rem 0;
}

h4 {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--ff-monospace);
}

h5 {
  font-size: .6875rem;
  color: var(--secondary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--secondary-text-color);
  line-height: 1.6;
}

li {
  color: var(--secondary-text-color);
  line-height: 1.6;
}

:is(p, span):hover {
  color: var(--main-foreground-color);
}

.text-link {
  text-decoration: underline;
  color: var(--main-text-link-color);
  filter: brightness(77%);
  font-size: 1rem;
  font-weight: 500;
}

.text-link:hover {
  color: var(--main-text-link-color);
  filter: hue-rotate(1deg);
}

.stylish-shadow-image {
  position: relative;
  width: inherit;
}

.stylish-shadow-image picture {
  width: inherit;
}

.stylish-shadow-image img {
  border-radius: .25rem;
  box-shadow: 100px 100px 100px var(--main-box-shadow-color);
  opacity: 0.89;
  transition: opacity .5s;
}

.stylish-shadow-image:hover img {
  opacity: 1;
}

.stylish-shadow-image--overlay-text {
  z-index: 2;
  position: absolute;
  top: 86%;
  left: 40%;
  transform: rotateZ(10deg);
  color: var(--light-gray);
  opacity: 0.9;
}

.stylish-shadow-image:hover .stylish-shadow-image--overlay-text {
  /*color: black;*/
  opacity: 1;
}

.handwritten-signature-container {
  justify-content: space-between;
}

.handwritten-signature {
  margin-top: .5rem;
  width: 92px;
  height: 92px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1250px) {
  .stylish-shadow-image--overlay-text {
    top: 86%;
    left: 35%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --page-padding: 2rem;
  }

  li {
    line-height: 2.25;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --page-padding: 1rem;
  }
}

@media screen and (max-width: 330px) {
  header nav h1.left-branding a {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .stylish-shadow-image--overlay-text {
    top: 85%;
    left: 33%;
  }
}
