header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--extremely-light-gray);
}

header button {
  width: 2.1rem;
  height: 2.1rem;
  padding: 0;
  margin-left: 2rem;
  margin-right: 1rem;
  border: 1px solid var(--lighter-gray);
  border-radius: var(--button-radius);
  background-color: transparent;
  cursor: pointer;
}

header button svg {
  height: 100%;
  padding: .4rem;
  fill: var(--main-foreground-color);
  stroke: var(--main-foreground-color);
}

header .toggle-mobile-menu-button {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header nav .left-branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  letter-spacing: -1px;
  margin-right: 2em;
}

header nav .page-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2em;
  column-gap: 1rem;
  list-style: none;
  white-space: nowrap;
}

header nav a {
  color: var(--secondary-text-color);
  padding: var(--main-padding);
  border-radius: var(--button-radius);
}

header nav a:hover {
  color: white;
  background-color: var(--blue);
}

@media screen and (min-width: 701px) {
  .do-not-display-on-desktop {
    display: none !important;
  }
}


@media screen and (max-width: 700px) {
  .do-not-display-on-mobile {
    display: none !important;
  }

  .mobile-menu {
    width: 90%;
    border-bottom: 1px solid var(--very-light-gray);
  }

  .mobile-menu .page-links {
    line-height: 3;
    list-style: none;
    font-weight: 600;
    text-decoration: underline;
  }

  header .toggle-mobile-menu-button {
    display: block;
  }

  header button {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}
