header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--extremely-light-gray);
}

header .toggle-dark-mode-button {
  width: 2.1rem;
  height: 2.1rem;
  padding: 0;
  margin-left: 2rem;
  margin-right: 1rem;
  border: 1px solid var(--lighter-gray);
  border-radius: var(--button-radius);
  background-color: transparent;
  cursor: pointer;
}

header .toggle-dark-mode-button svg {
  height: 100%;
  padding: .4rem;
  fill: var(--main-foreground-color);
  stroke: var(--main-foreground-color);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header nav .left-branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  letter-spacing: -1px;
  margin-right: 2em;
}

header nav .right-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2em;
  column-gap: 1rem;
  list-style: none;
  white-space: nowrap;
}

header nav a {
  color: var(--secondary-text-color);
  padding: var(--main-padding);
  border-radius: var(--button-radius);
}

header nav a:hover {
  color: white;
  background-color: var(--blue);
}

@media screen and (max-width: 700px) {
  header nav .right-links {
    display: none;
  }

  header .toggle-dark-mode-button {
    margin-bottom: .5rem;
  }
}
