header {
  display: grid;
  grid-template-areas: "branding center nav";
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--background);
  border-bottom: 1px solid var(--extremely-light-gray);
}

header .branding {
  grid-area: branding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  letter-spacing: -1px;
  margin-right: 2em;
}

header .center {
  grid-area: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .5em 0;
}

header nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2em;
  column-gap: 1rem;
}

header a {
  color: var(--secondary-text-color);
  padding: var(--main-padding);
  border-radius: var(--button-radius);
}

header a:hover {
  color: white;
  background-color: var(--blue);
}
