.stylishImage {
  filter: grayscale(100%) brightness(111%);
}

.imageTextOverlay {
  left: 8%;
  top: unset;
  bottom: 5%;
  transform: rotateZ(0deg);
}

.techListsContainer {
  display: flex;
}

.techListsContainer ul {
  padding-left: 2rem;
  flex-grow: 1;
}

.waveTop {
  margin: 6rem 0 0 0;
}

.waveBottom {
  margin: 0 0 0 0;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 1.5rem;
  margin: 0;
  background-color: var(--blue);
}

.services h3, .services h4, .services p {
  width: inherit;
  text-align: center;
}

.services h3 {
  color: black;
  margin: 0;
  font-family: var(--ff-sans-serif);
  font-size: 2.5rem;
}

.services h4 {
  color: white;
  font-family: var(--ff-monospace);
  font-size: 1.25rem;
}

.services p {
  color: black;
  font-size: 1.25rem;
  margin: 1rem;
  padding: 1rem;
  font-weight: 400;
}

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin-top: var(--page-padding);
}

.project h3 {
  margin-top: 0;
}

.project img {
  max-width: 501px;
  box-shadow: 0 0 2px var(--secondary-text-color);
}

@media screen and (max-width: 1024px) {
  .waveTop {
    margin: 12rem 0 0 0;
  }

  .waveBottom {
    margin: 0 0 8rem 0;
  }
}